footer{
    border-bottom:1px solid black;
    width:74%;
    height:270px;
    position:absolute;
    top:1980px;
    left:220px;
    
}
footer>#section-6{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:10px;
}
footer>#section-6>div{
    border:0px solid black;
    width:100%;
    height:260px;
    display:flex;
    flex-direction:column;
    gap:10px;
    
    
}
footer>#section-6>div>h5>a{
    text-decoration:none; 
    color:blue;
    padding-bottom:10px;
    

}
footer>#section-6>div:nth-child(1)>img{
    padding-top:1px;
    width:190px;

}
#section-7{
    border:0px solid black;
    width:74%;
    height:200px;
    position:absolute;
    top:2270px;
    left:220px;
    text-align:center;

}
#section-7>div>img{
    width:300px;
    height:100px;
    margin:auto;

}
#anchor:hover{
    color:blue;
    
}

