body{
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    height: auto;
    border: 0px solid red;
    width: 100%;
    margin: auto;
    margin-top: -20px;
    background-color: rgb(241, 238, 238)
    
}
#container>h1{
    margin-left:60px;
    font-size: 27px;
}
#contL{
    width: 60%;
    border: 0px solid green;
    height: auto;
    margin-left: 60px;
    margin-right: 20px;
    margin-top: 00px;
}
#contR{
    width: 30%;
    border: 0px solid green;
    height: auto;
    margin-right: 20px;
    margin-top: 50px;

}
.title{
    border: 0px solid brown;
    color: grey;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 3px;
}
.star{
    color: red;
}
#main{
    display: flex;
}
#contL>div{
    margin-left: 20px;
}
#contL>div>p{
    display: inline-block;
    font-size: 25px;
    margin-top: 20px;
}

#contL>div>p>span{
    color: grey;
    font-size: 20px;
}
#left1,#left2,#left3,#left4,#left5{
    width: 90%;
    border: 0px solid green;
    height: auto;
    background-color: white;
    margin-left: 60px;
    margin-right: 20px;
    margin-top: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.p1{
    color: green;
}
#left2>img{
    width: 30%;

}
.inpWidth{
    height: 40px;
    border-radius: 3px;
    margin-top: -15px;
}
#submit{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 250px;
    border: 0px;
    outline: 0px;
    background-color: rgb(200, 136, 8);
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold
}

